--index-url https://pypi.python.org/simple/

setuptools
pytest
ipython==7.3.0
numpy>=1.16
pandas==0.23.4
scipy==1.0.1
matplotlib==2.2.2
seaborn==0.9.0
networkx==2.2
nilearn==0.5.0a
kmapper==1.2.0
#scikit-learn<=0.21
scikit-learn
joblib
