--index-url https://pypi.python.org/simple/

setuptools
pytest
ipython
numpy
pandas
scipy
scikit-learn
matplotlib
seaborn
networkx
kmapper==1.1.6

# recommended (uncomment to install)
#nilearn==0.5.0
