<head>
  <style> body { margin: 0; } </style>
  <script src="//unpkg.com/dat.gui"></script>
  <script src="//unpkg.com/3d-force-graph"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>

  <!--<script src="../../dist/3d-force-graph.js"></script>-->
</head>

<body>
  <div id="3d-graph"></div>

  <script> 
    ///////////////////////////////////////////////
    // Helpers
    ///////////////////////////////////////////////
    load_force_graphs_csv("index.csv");

    // Load a list of JSON files
    function load_force_graphs_csv(csv) {
        d3.csv(csv, function(error, data) {
          data.forEach(function(d, i) {
            console.log(i, data.length, d);
            load_force_graph(d.json, data.length);
        }); 
      });
    }

    function load_force_graph(json, n) {
        d3.json(json, function(error, data) {
          var inputs = {data:data, source:json, total:n};
          console.log(inputs);
          draw_force(inputs);
      });
    }

    ///////////////////////////////////////////////
    // main
    ///////////////////////////////////////////////
    // var 
    function draw_force(inputs) {
      var data = inputs.data;
      var source = inputs.source;
      var color_by = 'data_id';

      // hack to load data
      // get some things
      console.log(data);
      var color = data.graph.colors;
      var color_by_options = d3.keys(data.graph.groups);
      var color_by = data.graph.color_by ? data.graph.color_by : color_by_options[0];
      console.log('color_by_options:', color_by_options);
      console.log('color_by:', color_by);

      // init graph
      const force = ForceGraph3D()
        (document.getElementById('3d-graph'))
          .graphData(data)
          .nodeAutoColorBy(d => d.group[color_by])
          //.nodeColor(d => d.group[color_by] ? d.group[color_by] :0)
          .nodeOpacity(1)
          //.linkAutoColorBy('value')
          .linkOpacity(1);

      const linkForce = force 
        .d3Force('link')
        .distance(link => link.distance);

      



      //Define GUI
      const Settings = function() {
        this.num_dimensions = 3;
        this.link_distance = 1;
        this.color_by = color_by; //'data_id';
      };
      const settings = new Settings();
      const gui = new dat.GUI();
      const controller1 = gui.add(settings, 'num_dimensions',[0,1,2,3]);
      const controller2 = gui.add(settings, 'link_distance', [1,5,10,50,100]);
      const controller3 = gui.add(settings, 'color_by', color_by_options);
      controller1.onChange(updateNumDimensions);
      controller2.onChange(updateLinkDistance);
      controller3.onChange(updateNodeColorBy);
      function updateNumDimensions() {
        force.numDimensions(settings.num_dimensions); // Re-heat simulation
      }
      function updateLinkDistance() {
        linkForce.distance(link => link.distance ? settings.link_distance : 1);
        force.numDimensions(settings.num_dimensions); // Re-heat simulation
      }
      function updateNodeColorBy() {
        color_by = settings.color_by;
        force.nodeColor(d => d.group[color_by] ? d.group[color_by]:1);
      }

    };
  </script>
</body>
